.code-example {
    position: absolute;
    width: $right-wrapper;
    right: 15px;
    top: 450px;
}

.code {
    padding-left: 10px; 
    background-color: #f6f8fa;
    font-size: 1.2rem;
    font-style: italic;
}