.education {
    width: $left-wrapper;
    position: relative;
}

.education-level {
    color: $primary-color;
    font-size: 2.4rem;
}

.period-place {
    padding-top: 2px;
    color: $theme-color;
    font-size: 1.2rem;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
}

.name-topic {
    color: $secondary-color;
    font-size: 1.2rem;
    font-style: italic;
    margin: 5px 0px;
}

.paper-title {
    padding-left: 17px;
    margin-bottom: 6px;
    list-style-type: disc;
}

