.work-experience {
    width: $left-wrapper;
    // position: relative;
}

.position {
    color: $primary-color;
    font-size: 2.4rem;
}

.period-place {
    color: $theme-color;
    font-size: 1.2rem;
    font-style: italic;
    display: flex;
    justify-content: space-between;
}

.company-description {
    color: $secondary-color;
    font-size: 1.2rem;
    font-style: italic;
    margin: 5px 0px;
}

.task-name {
    color:$theme-color;
    font-size: 1.4rem;
    font-style: italic;
}

.tasks {
    padding-left: 17px;
    margin-bottom: 6px;
    list-style-type: disc;
}

